Repository boxbilling/BoxBilling, changes with the labels that .github/labeler.yml gives for each.
All labels: tests/CI, front-end, composer, installer, payments, server-manager, github-config

.github/labeler.yml:

tests/CI:
- tests/*

front-end:
- src/bb-themes/*

composer:
- src/composer.json
- src/composer.lock

installer:
- src/install/*

payments:
- src/bb-library/Payment*

server-manager:
- src/bb-library/Server*

github-config:
- .github/*

Hopefully fix labeler
  .github/workflows/labeler.yml
Labels: none

Rename to travis to try and completely skip the check
  .travis.yml.old
Labels: none

Update Version.php
  src/bb-library/Box/Version.php
Labels: none

Pre-populate Bootstrap theme settings (#1145)
  src/bb-themes/bootstrap/config/settings_data.json
Labels: none

Improvements to setup
  build.xml
  src/.htaccess.txt
  src/bb-library/Box/Requirements.php
  src/bb-themes/bootstrap/config/settings_data.json.txt
  src/bb-themes/boxbilling/config/settings_data.json.txt
  src/bb-themes/huraga/config/settings_data.json.txt
  src/install/install.php
Labels: installer

Update index.html
  index.html
Labels: none

for Vesta control panel
  src/bb-library/Server/Manager/Vesta
Labels: none

for Kloxo control panel
  src/bb-library/Server/Manager/Kloxo
Labels: none

Updated composer dependencies
  src/composer.json
  src/composer.lock
Labels: composer

Update composer.lock
  src/composer.lock
Labels: composer

Deprecated and causes trouble on MySQL 8.0+
  src/bb-di.php
Labels: none

Stop changing the deprecated character_set_database variable
  src/install/install.php
Labels: installer

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add custom buttons
  src/bb-themes/bootstrap/config/settings.html
Labels: none

Update mod_order_manage.phtml
  src/bb-themes/bootstrap/html/mod_order_manage.phtml
Labels: none

Buttons manage page
  src/bb-themes/bootstrap/html/mod_order_manage.phtml
Labels: none

Remove local test
  src/bb-themes/bootstrap/html/mod_order_manage.phtml
Labels: none

Add manage page links
  src/bb-themes/bootstrap/html/mod_order_manage.phtml
Labels: none

Manage links removal
  src/bb-themes/bootstrap/html/mod_order_manage.phtml
Labels: none

Add support for HestiaCP
  src/bb-library/Server/Manager/Hestia.php
Labels: none

Update Version.php
  src/bb-library/Box/Version.php
Labels: none

Display release notes on the update screen
  src/bb-library/Box/Update.php
  src/bb-modules/System/Api/Admin.php
  src/bb-themes/admin_default/html/mod_extension_index.phtml
Labels: none

Bump version for next release
  src/bb-library/Box/Version.php
Labels: none

Minor changes
  src/bb-themes/admin_default/html/mod_extension_index.phtml
Labels: none

Fixed typo
  src/bb-load.php
Labels: none

Display release notes on the update screen (#1257)
  src/bb-library/Box/Update.php
  src/bb-modules/System/Api/Admin.php
  src/bb-themes/admin_default/html/mod_extension_index.phtml
Labels: none

Remove CSRF-P
  src/bb-library/Security/CSRF-Protector-PHP/js/csrfprotector.js
  src/bb-library/Security/CSRF-Protector-PHP/js/index.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/LoggerInterface.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfpAction.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfpCookieConfig.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfpDefaultLogger.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfprotector.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/index.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/index.php
  src/bb-library/Security/CSRF-Protector-PHP/licence.md
  src/bb-load.php
  src/csrfp-config.php
Labels: none

Fixed bad syntax
  src/bb-update.php
Labels: none

Changed database structure
  src/install/sql/content.sql
  src/install/sql/structure.sql
Labels: none

Fix theme files
  src/bb-themes/boxbilling/html/mod_news_post.phtml
Labels: none

Visual adjustment
  src/bb-modules/News/html_admin/mod_news_post.phtml
Labels: none

Clarifying
  src/bb-modules/News/html_admin/mod_news_post.phtml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Sidebar button logic
  src/bb-themes/bootstrap/html/partial_menu.phtml
Labels: none

Add sidebar and manage button settings
  src/bb-themes/bootstrap/config/settings.html
Labels: none

Add header icon logic
  src/bb-themes/bootstrap/html/layout_default.phtml
Labels: none

Add favicon logic
  src/bb-themes/bootstrap/html/layout_default.phtml
Labels: none

Add favicon settings
  src/bb-themes/bootstrap/config/settings.html
Labels: none

Add fontawesome settings
  src/bb-themes/bootstrap/config/settings.html
Labels: none
