Repository boxbilling/boxbilling, pull requests merged in 2020-11, with the labels that each got.

#720 Methods with the same name as their class should not be constructors
  src/bb-library/php-gettext/gettext.php
  src/bb-library/php-gettext/streams.php
Labels: compatibility, deprecated

#741 Fix: denial of service on jpeg-js
  package-lock.json
  src/bb-modules/Servicehosting/Service.php
Labels: dependencies, security

#744 New order template @ admin panel did not display the TLD selection
  Makefile
  src/bb-modules/Servicedomain/html_admin/mod_servicedomain_order.phtml
Labels: enhancements

#745 A brand new error page, some enhancements to the loader
  .github/workflows/php.yml
  Makefile
  src/bb-load.php
Labels: enhancements, security

#746 SEF-URLs & .htaccess
  src/.htaccess
  src/bb-config-sample.php
Labels: enhancements

#751 Trying to merge #740
  src/composer.json
  src/composer.lock
Labels: dependencies, security

#769 Initial support for MyOwnFreeHost
  build.xml
  src/bb-library/Server/Account.php
  src/bb-library/Server/Manager/MOFH.php
  src/bb-modules/Servicehosting/Service.php
  src/composer.json
  src/composer.lock
  tests/bb-modules/Servicehosting/ServiceTest.php
Labels: compatibility

#776 Create custom page module and some fixes
  src/.htaccess
  src/bb-modules/Custompages/Api/Admin.php
  src/bb-modules/Custompages/Controller/Admin.php
  src/bb-modules/Custompages/Controller/Client.php
  src/bb-modules/Custompages/Service.php
  src/bb-modules/Custompages/html_admin/mod_custompages_index.phtml
  src/bb-modules/Custompages/html_admin/mod_custompages_page.phtml
  src/bb-modules/Custompages/html_client/mod_custompages_content.phtml
  src/bb-modules/Custompages/icon.png
  src/bb-modules/Custompages/manifest.json
  src/bb-modules/Example/Controller/Admin.php
  src/bb-modules/Example/html_admin/mod_example_index.phtml
  src/bb-update.php
  src/install/index.php
  src/install/install.phtml
Labels: enhancements

#781 #780, PHP CLI & cron related things
  src/bb-cron.php
  src/bb-load.php
Labels: enhancements

#782 Removing some leftovers of Serviceboxbillinglicense
  src/bb-update.php
  src/install/content_test.sql
  src/install/structure.sql
Labels: databases, deprecated

#784 Loader and error handler enhancements
  src/bb-load.php
Labels: enhancements
