Repository boxbilling/boxbilling, pull requests merged in 2021-08, with the labels that each got.

#931 Merge branch 'timothygwebb:master' into boxbilling:master
  package-lock.json
Labels: dependencies, security

#940 Fixed wording (same as #929)
  src/bb-modules/System/Service.php
Labels: cleanup

#926 Include a slightly modified version of CSRF-Protector-PHP
  src/bb-config-sample.php
  src/bb-library/Security/CSRF-Protector-PHP/js/csrfprotector.js
  src/bb-library/Security/CSRF-Protector-PHP/js/index.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/LoggerInterface.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfpAction.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfpCookieConfig.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfpDefaultLogger.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/csrfprotector.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/csrf/index.php
  src/bb-library/Security/CSRF-Protector-PHP/libs/index.php
  src/bb-library/Security/CSRF-Protector-PHP/licence.md
  src/bb-load.php
  src/csrfp-config.php
Labels: security

#942 Update README.md
  CODE_OF_CONDUCT.md
  README.md
Labels: documentation, cleanup

#947 Fixed typo
  README.md
Labels: documentation

#941 Removed leftovers of AlertPay, SinglePay, WebToPay and Payza
  src/bb-locale/en_US/LC_MESSAGES/messages.po
  src/bb-locale/messages.pot
  src/bb-themes/huraga/assets/css/logos.css
  src/bb-themes/huraga/assets/img/gateway_logos/alertpay.png
  src/bb-themes/huraga/assets/img/gateway_logos/payza.png
  src/bb-themes/huraga/assets/img/gateway_logos/simplepay.png
  src/bb-themes/huraga/assets/img/gateway_logos/webtopay.png
  src/bb-update.php
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  tests/bb-modules/Invoice/ServiceTransactionTest.php
Labels: cleanup, payments

#962 Removed leftovers of markItUp
  src/bb-themes/admin_default/js/markitup/jquery.markitup.js
  src/bb-themes/admin_default/js/markitup/sets/default/images/bold.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/clean.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/image.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/italic.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/link.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/list-bullet.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/list-numeric.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/picture.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/preview.png
  src/bb-themes/admin_default/js/markitup/sets/default/images/stroke.png
  src/bb-themes/admin_default/js/markitup/sets/default/set.js
  src/bb-themes/admin_default/js/markitup/sets/default/style.css
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/bold.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/code.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/h1.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/h2.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/h3.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/h4.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/h5.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/h6.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/italic.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/link.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/list-bullet.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/list-numeric.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/picture.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/preview.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/images/quotes.png
  src/bb-themes/admin_default/js/markitup/sets/markdown/set.js
  src/bb-themes/admin_default/js/markitup/sets/markdown/style.css
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/bg-container.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/bg-editor-bbcode.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/bg-editor-dotclear.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/bg-editor-html.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/bg-editor-markdown.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/bg-editor.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/handle.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/menu.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/images/submenu.png
  src/bb-themes/admin_default/js/markitup/skins/boxbilling/style.css
  src/bb-themes/admin_default/js/markitup/skins/simple/images/handle.png
  src/bb-themes/admin_default/js/markitup/skins/simple/images/menu.png
  src/bb-themes/admin_default/js/markitup/skins/simple/images/submenu.png
  src/bb-themes/admin_default/js/markitup/skins/simple/style.css
  src/bb-themes/admin_default/js/markitup/templates/preview.css
  src/bb-themes/admin_default/js/markitup/templates/preview.html
Labels: dependencies, deprecated, javascript, cleanup, front-end

#966 Updated the design of cache control page
  src/bb-modules/System/html_admin/mod_system_settings.phtml
Labels: enhancements, cleanup, front-end, admin panel

#967 Updated cURL user agent
  src/bb-library/Box/Tools.php
Labels: enhancements, php

#969 Typo
  src/bb-modules/Seo/manifest.json
Labels: enhancements

#971 Removed links to the dead forum of ours
  src/bb-themes/admin_default/html/partial_footer.phtml
  src/install/assets/layout.phtml
Labels: needs discussion, cleanup

#976 Fixing CSRF protector
  src/bb-load.php
  src/csrfp-config.php
Labels: dependencies, security, bug, php, admin panel

#977 "Help" under "help"?
  src/bb-themes/admin_default/html/partial_footer.phtml
Labels: cleanup

#923 Initial implementation of a CWP server manager
  src/bb-library/Server/Manager/CWP.php
Labels: compatibility, hosting

#992 Re-implemented Gravatar
  src/bb-library/Box/Tools.php
  src/bb-library/Box/TwigExtensions.php
Labels: dependencies, enhancements, cleanup, front-end

#995 fixed gravatar size
  src/bb-library/Box/TwigExtensions.php
Labels: enhancements

#996 Fixed Gravatar filter crashing on PHP 8
  src/bb-library/Box/TwigExtensions.php
Labels: compatibility, enhancements, php, PHP 8

#997 Fix installer not going through step 3
  src/install/install.php
Labels: installer, bug, php, PHP 8

#991 Fix our updater and use GitHub releases
  src/bb-library/Box/Tools.php
  src/bb-library/Box/Update.php
  src/bb-library/Box/Version.php
  src/bb-library/Box/Zip.php
  src/composer.json
  src/composer.lock
Labels: enhancements, installer, php

#1014 Removed the license fallback in mod.php
  src/bb-library/Box/Mod.php
Labels: legal
