Repository boxbilling/boxbilling, pull requests merged in 2021-12, with the labels that each got.

#1100 :racehorse: Add feature [Maintenance Mode]
  src/bb-config-sample.php
  src/bb-library/Box/App.php
  src/bb-library/Box/Request.php
  src/bb-modules/System/html_client/mod_system_maintenance.phtml
  src/composer.json
  src/install/install.php
  tests/bb-library/Box/Box_RequestTest.php
Labels: enhancements

#1160 Update labeler to make it recognize more categories
  .github/labeler.yml
Labels: github-config

#1055 Adding phpinfo to the System module
  src/bb-library/Box/TwigExtensions.php
  src/bb-modules/System/html_admin/mod_system_settings.phtml
Labels: security, enhancements, needs discussion, admin panel

#1156 Rename htaccess file in source code and automatically name it when re…
  build.xml
  src/.htaccess.txt
  src/bb-library/Box/Requirements.php
  src/bb-themes/bootstrap/config/settings_data.json.txt
  src/bb-themes/boxbilling/config/settings_data.json.txt
  src/bb-themes/huraga/config/settings_data.json.txt
  src/install/install.php
Labels: installer
