Repository boxbilling/boxbilling, pull requests merged in 2021-09, with the labels that each got.

#1031 Fix what's being passed in Plesk
  src/bb-library/Server/Manager/Plesk.php
Labels: compatibility, hosting

#1034 Fixing #1025
  src/bb-modules/Invoice/Service.php
Labels: databases, bug

#1038 Replacing links with dynamic redirects from the website
  README.md
Labels: documentation

#1039 Added Slack and Discord to "Help" modal
  src/bb-themes/admin_default/html/partial_footer.phtml
Labels: front-end, admin panel

#1046 Added Twitter link to README
  README.md
Labels: documentation

#1047 Fixed the way error message displays when WYSIWYG is disabled
  src/bb-themes/admin_default/html/macro_functions.phtml
Labels: enhancements, bug
